{% extends 'base.html' %}
<title>{% block title %}Shemas{% endblock title %}</title>
{% block content %}


<form method="post">

    <!-- <h2>Add Certificat</h2> -->
    {% csrf_token %}
    <button class='btn btn-outline-success mx-5 float-right' type="submit">Save</button>
    <table class="tbl-td w-100 table table-sm">
        <input id='json_fields' hidden="true" value='{{json_fields}}'>
        {{json_fields|json_script:"json_data"}}

        {% for field in form %}
        <tr class="border-2">
            <td class="">
                {{ field.errors }}
                <label>{{ field.label }}</label>
            </td>
            <td class="border-0">
                {{ field }}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>


    <table class="tbl-td w-100 table table-sm">
        <thead class="">
            <tr>
                <th>Column</th>
                <th>Type</th>
                <th>Range</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="forms">

        </tbody>
    </table>

</form>
<div class="add_column rounded bg-light align-middle rounded bg-light p-1">
    <table class="tbl-td w-100 ">
        <tbody id="column_example_row" class="">
            <tr class="border-2 col_row table_row">
                {% for field in form2 %}
                <td class="border-0 {{field.label}}">
                    {{ field }}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </td>
                {% endfor %}

                <td class="range_td" >
                    <div class="range_hidden" hidden>
                        <input type="number" id='ran_from' name='ran_from' class="w-25">
                        <input type="number" id='ran_from_to' name='ran_from_to' class="w-25">
                    </div>
                </td>

                <td class="hidden_td" hidden>
                    <div class="btn btn-danger mx-1 my-1 btn-sm hidden_btn">
                        <span class="oi oi-trash"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button class='btn btn-outline-success mx-5' id="add-another">Add column</button>

{% endblock content %}
