{% extends 'base.html' %}
<title>{% block title %}Shemas{% endblock title %}</title>
{% block content %}

<h3 class='text-center float-left'>Data sets</h3>
<form class=' d-flex justify-content-end' action="{% url 'generate' %}" method="post">
    {% csrf_token %}
    <input type="number" hidden name="pk" value="{{pk}}" >
    <input type="number" name='iters' class="w-25 float-right">
    <button class='btn btn-success float-right  mx-1' type="submit">New csv</button>
</form>



<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Created</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% for csv in object_list %}
    <tr class="text-center ">
        <td class="alert-secondary"><a href="">
                {{ csv.id }}
            </a></td>
        <td class="col-sm-2 alert-secondary"><a href="">
                {{ csv.created|date:"D d M Y" }}
            </a></td>
        <td class="col-sm-2 alert-secondary">
            {% if csv.status  %}
            <span class="progress-bar bg-success">Ready</span>
            {% else %}
            <span class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">Processing</span>
            {% endif %}
        </td>
        <td class="col-sm-2 alert-secondary">
            {% if csv.csv.name  %}
            <a class="btn btn-danger mx-1 my-1 btn-sm " href="{{ csv.csv.url }}" role="button">
                <span class="oi oi-data-transfer-download"></span></a>
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr class="col-md-12 alert-secondary">
        <td colspan="5">No csv yet.</td>
    </tr>
</table>
{% endfor %}




{% endblock content %}
