{% extends 'base.html' %}
<title>{% block title %}Shemas{% endblock title %}</title>
{% block content %}

<h1 class='text-center'>Enter certificate number</h1>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Internal number</th>
            <th>Public</th>
            <th>Reviews</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% for schema in object_list %}
    <tr class="text-center ">
        <td class="col-sm-2 alert-secondary"><span>
            {{ schema }}
        </span></td>
    </tr>
    {% empty %}
    <tr class="col-md-12 alert-secondary">
        <td colspan="5">No certificates yet.</td>
    </tr>
</table>
{% endfor %}




{% endblock content %}
