{% extends 'base.html' %}
<title>{% block title %}Shemas{% endblock title %}</title>
{% block content %}

<h1 class='text-center float-left'>Data schemas</h1>
<a href="{% url 'create_schema' %}" class="btn btn-success float-right"> New schema </a>



<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Modified</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% for schema in object_list %}
    <tr class="text-center ">
        <td class="col-sm-2 alert-secondary"><a href="{% url 'edit_schema' schema.pk %}">
            {{ schema.title }}
        </a></td>
        <td class="col-sm-2 alert-secondary">
            {{schema.modified}}
        </td>
        <td class="col-sm-2 alert-secondary">
        </td>
    </tr>
    {% empty %}
    <tr class="col-md-12 alert-secondary">
        <td colspan="5">No certificates yet.</td>
    </tr>
</table>
{% endfor %}




{% endblock content %}
